body {

    /* 1920 x 1280 */
    /*background-image: url('images/LANDING PAGE.jpg');*/
    /*background-size: cover;
    background-position: center;*/

    background-color: #f1efd6;
    
    

}


input {
    margin-top: 10px;
    margin-bottom: 10px;


}
@font-face {
		font-family: Raleway;
		src:url('https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/fonts/roboto/Roboto-Thin.woff');

}


h1 {
    color: #e2a202;
    font-weight: 500;
    margin-bottom: 50px;
    font-family: Raleway , sans-serif;
}



select {
    margin: 10px 0 10px 0;

}


.gradute , .undergraduate {
    display: none;

}


.visit-img {
    margin: 0 auto;

}

.visitor .workshops {
    margin-top: 80px;

}


.visitor .workshops input {
    margin-left: 8px;

}



.workshops .workshop__item{
    margin-bottom: 20px;
}

.workshops .workshop__item span {
    position: relative;
    left: 32px;
    top: 4px;
    font-size: 15px;
    color: rgb(52, 152, 219);

}


.workshop-ava {
    font-family: Raleway , sans-serif;
    font-weight: 600;

}


.form-group {
    position: relative;

}


.form-group .astrict.select-box {
    right: 20px;

}
.astrict {
    position: absolute;
    right: 7px;
    top: 9px;
    font-size: 20px;
    color: rgb(231 , 76 , 60);

}

.eed__logo {
    /*margin-top:50px;*/
    /*margin-bottom: 30px;*/
    width:100%;
    height: 200px;   

}


.custom-alert {
    padding: 10px;
    display: none;

}


.uncheck {
    margin-bottom: 10px;

}




